﻿@{
    ViewBag.PageHeader = ViewBag.Title = "User List";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="tip-bottom" href="#">User Setup</a>
    <a class="current" href="#">User List</a>
}

<div class="row-fluid">
    <div class="row-fluid" style="margin: 10px">
        <div class="span6">
            <a class="btn btn-success" href="@Url.Action("Create", "UserManage")">
                <i class="icon-plus"></i> Create
            </a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>All Users</h5>
        </div>

        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="font-size: small">Login Name</th>
                        <th style="font-size: small">User Type</th>
                        <th style="font-size: small">First Name</th>
                        <th style="font-size: small">Last Name</th>
                        <th style="font-size: small">Email</th>
                        <th style="font-size: small">Contact Number</th>
                        <th style="font-size: small">Date of creation</th>
                        <th style="font-size: small">Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: users">
                    <tr>
                        <td style="text-align: center" data-bind="text: loginName"></td>
                        <td style="text-align: center" data-bind="text: userType"></td>
                        <td style="text-align: center" data-bind="text: firstName"></td>
                        <td style="text-align: center" data-bind="text: lastName"></td>
                        <td style="text-align: center" data-bind="text: email"></td>
                        <td style="text-align: center" data-bind="text: contactNumber"></td>
                        <td style="text-align: center" data-bind="text: dateOfCreation"></td>
                        <td style="text-align: center">
                            <a data-bind="attr: { href: updateUrl }">
                                Update
                            </a>
                            |
                            <a data-bind="click: $root.deleteUser" href="#">
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/UserManage/All.js")"></script>
}
