﻿@{
    ViewBag.PageHeader = ViewBag.Title= "Create User";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="tip-bottom" href="#">User Setup</a>
    <a class="current" href="#">Create User</a>
}
@section goBackLink
{
    <p>
        <a class="btn btn-info" href="@Url.Action("All", "UserManage")">
            <i class="m-icon-big-swapleft m-icon-white"></i>
        </a>
    </p>
}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>User-info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Login Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" placeholder="user login name" data-bind="value: loginName">
                                </div>
                            </div>
                        </div> 
                        </div>
                <!--/span-->
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Password
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="password" class="span12" placeholder="Password" data-bind="value: password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Date of Creation 
                                    </label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: dateOfCreation">
                                    <span class="help-block">Date with Formate of (dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>  
                        </div>
                <!--/span-->  
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    User Type
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltUserType" class="span12" data-bind="value: userType" />
                                </div>
                            </div>
                        </div>   
                        </div>
                    <!--/span--> 
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" class="span12" style="display: none">
                                </div>
                            </div>
                        </div>   
                        </div>
                    <!--/span-->
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">First Name</label>
                                    <div class="controls">
                                        <input type="text" class="span12" placeholder="first name" data-bind="value: firsName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Last Name</label>
                                    <div class="controls">
                                        <input type="text" class="span12" placeholder="last Name" data-bind="value: lastName">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Contact Number</label>
                                    <div class="controls">
                                        <input type="text" class="span12" placeholder="+88 phone number" data-bind="value: contactNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">Address</label>
                                    <div class="controls">
                                        <textarea class="span12" draggable="false" placeholder="address" data-bind="value: address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label">
                                        Email
                                        <span style="font-weight: bold; color: red">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" class="span12" placeholder="Email@gmail.com" data-bind="value: email">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-success" type="button" data-bind="click: create">Create</button>
                            <button class="btn btn-primary" type="button" data-bind="click : reset">Reset</button>
                        </div>
</form>
            </div>
        </div>
    </div>
</div>




@section scripts
{   
    <script src="@Url.Content("~/Scripts/Views/UserManage/Create.js")"></script> 
}
