﻿@using System.Collections.Generic
@using iTextSharp.xmp.impl
@using KCRM.Model.DbModels.Views
@model KCRM.Model.Models.Reports.StockPriceReportModel

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 685px;
    }

    thead {
        font-size: 10px;
        font-weight: bold;
    }

    tbody {
        font-size: 10px;
        font-weight: normal;
    }

    td {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    th {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    h2, h4, h6 {
        margin: 0px;
        padding: 0px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        font-family: "Times New Roman", Arial, serif;
    }
</style>

<div id="header">
    <h2>Stock Admin Co. Name</h2>
    <h4>Stock Price Report</h4>
    <h6>Date of creation : <span>@Model.ReportDate.ToString("MMMM dd, yyyy")</span></h6>
</div>

<div>
    <br/>
    <table>
        <thead>
            <tr>
                <td>SI</td>
                <td>Product Name</td>
                <td>Description</td>
                <td>Category</td>
                <td>Unit Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @foreach (ProductStockPrice aPrice in Model.StockPrices)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@aPrice.Name</td>
                    <td>@aPrice.Description</td>
                    <td>@aPrice.CategoryName</td>
                    <td>@aPrice.UnitName</td>
                    <td>@aPrice.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>