﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Change Password";
}

@section breadcrumbs
{
    <a class="current" href="#">Change Password</a>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Change Password</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Password
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="password" class="span12" placeholder="Password" data-bind="value: password">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Confirm Password
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="password" class="span12" placeholder="Confirm Password" data-bind="value: confirmPassword">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: update">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/ProfileManage/Update.js")"></script>
}