﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Create Client Quotation";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Quotations</a>
    <a class="tip-bottom" href="#">Client Quotation</a>
}

@*pop up for Customer create*@
<div id="divCustomerSetup" class="modal hide fade modal-wide75">
    <div class="modal-header">
        <a href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Customer</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'customer', data: customer }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for Contact Person create*@
<div id="divContactPersonSetup" class="modal hide fade modal-wide75">
    <div class="modal-header">
        <a href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Contact Person</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'contactperson', data: contactperson }"></form>
            </div>
        </div>
    </div>
</div>
 @*pop up for product create*@
<div id="stack2" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose1" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productCreate', data: productCreate }"></form>
            </div>
        </div>
    </div>
</div>
@*pop up for product unit create*@
<div id="stack4" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose3" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product Unit</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productUnitCreate', data: productUnitCreate }"></form>
            </div>
        </div>
    </div>
</div>
 
@*pop up for Quotation create*@
<div id="stack1" class="modal hide fade modal-wide90" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnCloseModal" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Client Quotation Order Detail</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="with: order">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltproduct" class="span12" data-bind="options: $root.products,
                                                                        optionsText: 'name',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- Please Select ---',
                                                                        value: productId"></select>
                                </div>
                            </div>
                        </div>
                        @*add + sign for add option*@
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddProduct" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Quantity
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: quantity">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Total Price
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <!--/span-->
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Vat
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: vat">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="form-actions" id="divActionCreateOrder">
                        <button class="btn btn-success" type="button" data-bind="click: $root.createOrder">Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                    </div>
                    <div class="form-actions" id="divActionUpdateOrder">
                        <button class="btn btn-success" type="button" data-bind="click: $root.updateOrder">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click: $root.cancelOrderUpdate">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Client Quotation Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Customer Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="customerList" class="span12" data-bind="options: customers,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- Please Select ---',
                                                                    value: customerName"></select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddCustomer" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Contact Person
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="contactList" class="span12" data-bind="options: contactPersons,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- Please Select ---',
                                                                    value: contactPerson"></select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddContactPerson" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">Date of Creation</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: dateOfCreation">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Market Quotation
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: marketQutations,
                                                                    optionsText: 'code',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- Please Select ---',
                                                                    value: marketQutationCode"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--span-->
                    <div class="row-fluid" style="margin: 10px">
                        <div class="span6">
                            <a id="btnAddOrder" class="btn btn-success" data-toggle="modal">
                                <i class="icon-plus"></i> Add Quotation Order
                            </a>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-pencil"></i> </span>
                            <h5>Client Quotation Orders</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th style="font-size: small">Product Name</th>
                                        <th style="font-size: small">Product Unit</th>
                                        <th style="font-size: small">Quantity</th>
                                        <th style="font-size: small">Total Price</th>
                                        <th style="font-size: small">Vat</th>
                                        <th style="font-size: small">Total with Vat</th>
                                        <th style="font-size: small">Actions</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: orders">
                                    <tr>
                                        <td style="text-align: center" data-bind="text: productName"></td>
                                        <td style="text-align: center" data-bind="text: productUnit"></td>
                                        <td style="text-align: center" data-bind="text: quantity"></td>
                                        <td style="text-align: center" data-bind="text: price"></td>
                                        <td style="text-align: center" data-bind="text: vat"></td>
                                        <td style="text-align: center" data-bind="text: total"></td>
                                        <td style="text-align: center">
                                            <a data-bind="click: $root.showToUpdate" href="#">
                                                Update
                                            </a>
                                            |
                                            <a data-bind="click: $root.removeOrder" href="#">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pull-right">
                        <h4>
                            <span>Grand Total Price: </span>
                            <span data-bind="text: $root.totalPrice"> </span>
                        </h4>
                    </div>
                    <br /><br />
                    <br /><br />

                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: create"> Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset"> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/ClientQuotationManage/Create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.customer.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.contactPerson.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.product.create.js")"></script>  
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.productUnit.create.js")"></script>
}