﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Stock Entry Report";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Reports</a>
    <a class="current" href="#">Stock Entry Report</a>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Report Filters</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal" method="post">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">From Date</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: fromDate">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">To Date</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: toDate">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">
                                    All Product Category

                                </label>
                                <div class="controls">
                                    <select id="ddl" class="span12" data-bind="options: productCategory,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '---- All ----',
                                                                    value: categoryId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">
                                    All Product Name
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: products,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '---- All ----',
                                                                    value: productId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>   
                <button class="btn btn-success" type="button" data-bind="click: search">
                    <i class="icon-search"></i>&nbsp;Search to show
                </button>  
            
          <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-pencil"></i> </span>
                    <h5>Stock Entry Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th style="font-size: small">Product Name</th>
                                <th style="font-size: small">Product Description</th>
                                <th style="font-size: small">Stock Entry Date</th>
                                <th style="font-size: small">Quantity</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentStock">
                            <tr>
                                <td style="text-align: center" data-bind="text: $data.name "></td>
                                <td style="text-align: center" data-bind="text: $data.description"></td>
                                <td style="text-align: center" data-bind="text: $data.dateOfCreation"></td>
                                <td style="text-align: center" data-bind="text: $data.quantity"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-actions">
                @*<a class="btn btn-primary" href="@Url.Action("StockEnrtyPdf", "StockEntryReport")" target="_blank">
                    <i class="icon-copy"></i>&nbsp;Generate Report
                </a>*@
                <a class="btn btn-primary" data-bind="click: setTempModel">
                    <i class="icon-copy"></i>&nbsp;Generate Report
                </a>
            </div> 
          </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/Views/Reports/StockEntryReport/Search.js"></script>
}













