﻿@using System.Collections.Generic
@using KCRM.Model.DbModels.Views
@using KCRM.Model.Models
@model KCRM.Model.Models.Reports.StockEntryReportModel

@{
    ViewBag.Title = "Stock Entry List";
}
 
<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 685px;
    }

    thead {
        font-size: 10px;
        font-weight: bold;
    }

    tbody {
        font-size: 10px;
        font-weight: normal;
    }

    td {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    th {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    h2, h4, h6 {
        margin: 0px;
        padding: 0px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        font-family: "Times New Roman", Arial, serif;
    }
</style>

<div id="header">
    <h2>Stock Admin Co. Name</h2>
    <h4>Stock Entry Report</h4>
    <h6>Date of creation : <span>@Model.ReportDate.ToString("MMMM dd, yyyy")</span></h6>
</div>

<div>
    <br/>
    <table>
        <thead>
            <tr>
                <td>SI</td>
                <td>Product name</td>
                <td>Product Description</td>
                <td>Stock Entry Date</td>
                <td>Quantity</td>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @foreach (StockModel aVal in Model.Stocks)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@aVal.Product.Name</td>
                    <td>@aVal.Product.Description</td>
                    <td>@aVal.DateOfCreation.ToString("dd/MM/yyyy")</td>
                    <td>@aVal.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>