﻿@{
    ViewBag.PageHeader = ViewBag.Title = "User Permission";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="tip-bottom" href="#">Permission Setup</a>
}



<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Permission-info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">
                                    Login Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="TestList" data-bind="options: users,
                                                                    optionsText: 'loginName',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: 'Please Select',
                                                                    value: userId"></select>
                                    <span class="help-block">users with out Administrators</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group span6" data-bind="foreach: $root.permissions">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="value: id, attr: { id: attrId, name: attrName}" />
                                    <span data-bind="text: name"></span>
                                </label>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: updatePermissions">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click : reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/UserPermission/All.js")"></script>
}
