﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/matrix-login.css")" />
}
    

<div id="loginbox">
    <div class="row-fluid">
        <div class="control-group normal_text" style="height: 50px;">
             <h3>
             <img id="divSpinner" style="display: none;" src="@Url.Content("~/Content/images/ajax_loader.gif")" />
             </h3>
        </div>

    </div>  
    <div class="row-fluid">
        <!--loing detail-->

        <form id="loginform" class="form-vertical">
            @*<div class="control-group normal_text"> <h3><img src="/Assets/img/logo.png" alt="Logo" /></h3></div>*@
            <div id="divLogin">
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" placeholder="Login Name" data-bind="value: loginName" style="width: 310px;" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Password" data-bind="value: password" style="width: 310px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="btnRecover">Lost password?</a></span>
                <span class="pull-right"><a type="button" id="btnLogin" href="#" class="btn btn-success" data-bind="click: login"> Login</a></span>
            </div>
        </form>
 
    </div>    
    
    <!--recover password-->
    <form id="recoverform" action="#" class="form-vertical">
        <p class="normal_text">Enter your Login name and e-mail address below and we will send you instructions how to recover a password.</p>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" placeholder="Login Name" data-bind="value: recoverLoginName" style="width: 310px;" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" data-bind="value: email" style="width: 310px;" />
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="btnBackToLogin">&laquo; Back to login</a></span>
            <span class="pull-right"><a class="btn btn-info" id="btnRecoverPassword" data-bind="click: recover">Reecover</a></span>
        </div>
    </form>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/LoginManage/Login.js")"></script>
}
