﻿@using System.Web.UI.HtmlControls
@using iTextSharp.text.html.simpleparser
@using KCRM.Model.DbModels.Tables
@using KCRM.Model.Models
@model KCRM.Model.Models.Reports.PurchaseReportModel

@{
    ViewBag.Title = "Purchase Report";
}

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 685px;
    }

    thead {
        font-size: 10px;
        font-weight: bold;
    }

    tbody {
        font-size: 10px;
        font-weight: normal;
    }

    td {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    th {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    h2, h4, h6 {
        margin: 0px;
        padding: 0px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        font-family: "Times New Roman", Arial, serif;
    }
</style>

<div>
    <div id="header">
        <h2>Stock Admin Co. Name</h2>
        <h4>Purchase Quotation Report</h4>
        <h6>Date of creation : <span>@Model.ReportDate.ToString("MMMM dd, yyyy")</span></h6>
    </div> 
</div>

<div>
    <br/>
    <table>
        <thead>
            <tr>
                <th>Sl</th>
                <th>Date of Purchase</th>
                <th>Supplier</th>
                <th>Customer</th>
                <th>Purchaser</th>
                <th>Product Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @{ int count = 0; int rowspan = 1;}}
            @foreach (PurchaseModel aValue in Model.Purchases)
            {
                rowspan = 1;
                count++;
                rowspan += aValue.Products.Count();
                <tr>
                    <td rowspan="@(rowspan)">@count</td>
                    <td rowspan="@(rowspan)">@aValue.DateOfCreation.ToShortDateString()</td>
                    <td rowspan="@(rowspan)">@aValue.Supplier</td>
                    <td rowspan="@(rowspan)">@aValue.Customer</td>
                    <td rowspan="@(rowspan)">@aValue.Purchaser</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="@(rowspan)">@aValue.Products.Sum(x => x.Price)</td>
                </tr>
                foreach (ProductModel aProduct in aValue.Products)
                {
                    <tr>
                        <td>@aProduct.Name</td>
                        <td>@aProduct.UnitName</td>
                        <td>@aProduct.Quantity</td>
                        <td>@aProduct.Price</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>