﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Purchase Report";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#">Reports</a>
    <a class="current" href="#">Purchase Report</a>
}


<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Report Filters</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">From Date</label>
                            <div class="controls">
                                <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: fromDate">
                                <span class="help-block">(dd-mm-yyyy)</span>
                            </div>
                        </div>
                    </div>   
                </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">To Date</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: toDate">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">
                                Supplier
                            </label>
                            <div class="controls">
                                <select class="span12" data-bind="options: suppliers,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- All ---',
                                                                    value: supplierId"></select>
                            </div>
                        </div>
                    </div> 
                </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Customer
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: customers,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- All ---',
                                                                    value: customerId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Purchaser
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: users,
                                                                    optionsText: 'loginName',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- All ---',
                                                                    value: userId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin: 10px">
                        <div class="span6">
                            <button class="btn btn-success" type="button" data-bind="click: search"><i class="icon-search"></i>&nbsp;Search to show</button>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-pencil"></i> </span>
                            <h5>Purchase Details</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th style="font-size: small">Date of Purchase</th>
                                        <th style="font-size: small">Supplier</th>
                                        <th style="font-size: small">Customer</th>
                                        <th style="font-size: small">Purchaser</th>
                                        <th style="font-size: small">Product Name</th>
                                        <th style="font-size: small">Unit</th>
                                        <th style="font-size: small">Quantity</th>
                                        <th style="font-size: small">Price</th>
                                        <th style="font-size: small">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: searches">
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: dateOfCreation, attr: { rowspan: products.length + 1 }"></td>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: supplierName, attr: { rowspan: products.length + 1 }"></td>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: customerName, attr: { rowspan: products.length + 1 }"></td>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: purchaserName, attr: { rowspan: products.length + 1 }"></td>
                                        <td style="border: 0px; padding: 0px"></td>  
                                        <td style="border: 0px; padding: 0px"></td>  
                                        <td style="border: 0px; padding: 0px"></td>  
                                        <td style="border: 0px; padding: 0px"></td>  
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: totalPrice(), attr: { rowspan: products.length + 1 }"></td>      
                                    </tr>  
                                    <!-- ko foreach: products -->
                                    <tr>                           
                                        <td style="text-align: center" data-bind="text: name"></td>
                                        <td style="text-align: center" data-bind="text: unit"></td>
                                        <td style="text-align: center" data-bind="text: quantity"></td>
                                        <td style="text-align: center" data-bind="text: price"></td>                      
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions">                    
                        @*<a class="btn btn-primary" href="@Url.Action("PurchasePdf", "PurchaseReport")" target="_blank"><i class="icon-copy"></i>&nbsp;&nbsp;Generate Report</a>&nbsp;&nbsp;*@
                        <a class="btn btn-primary" data-bind="click: setTempModel">
                            <i class="icon-copy"></i>&nbsp;Generate Report
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/Reports/PurchaseReport/Search.js")"></script>
}