﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Product Unit List";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="current" href="#">Product Unit Setup</a>
    <a class="current" href="#">Product Unit List</a>
}


<div class="row-fluid">
    <div class="row-fluid" style="margin: 10px">
        <div class="span6">
            <a class="btn btn-success" href="@Url.Action("Create", "ProductUnitManage")">
                <i class="icon-plus"></i> Create
            </a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>All Product Units</h5>
        </div>

        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="font-size: small">Name</th>
                        <th style="font-size: small">Description</th>
                        <th style="font-size: small">Action</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: productUnits">
                    <tr>
                        <td style="text-align: center" data-bind="text: name"></td>
                        <td style="text-align: center" data-bind="text: description"></td>
                        <td style="text-align: center">
                            <a data-bind="attr: { href: updateUrl }">
                                Update
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/ProductUnitManage/All.js")"></script>
}