﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Update Product Unit";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="current" href="#">Product Unit Setup</a>
    <a class="current" href="#">Update Product Unit</a>
}
@section goBackLink
{
    <p>
        <a class="btn btn-info" href="@Url.Action("All", "ProductUnitManage")">
            <i class="m-icon-big-swapleft m-icon-white"></i>
        </a>
    </p>
}

<div class="row-fluid">

    <input type="hidden" value="@(Model)" id="txtProductUnitId" />

    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Personal Info</h5>
            </div>
            <div class="widget-content">
                <form id="form-wizard" class="form-horizontal" method="post">
                    <div id="form-wizard-1" class="step">
                        <div class="control-group">
                            <label class="control-label">
                                Name
                                <span style="font-weight: bold; color: red">*</span>
                            </label>
                            <div class="controls">
                                <input data-bind="value:name" class="span5" id="name" type="text" name="name" placeholder="type your name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <div class="input-icon left">
                                    <textarea data-bind="value:description" class="span5" placeholder="give some description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: update">Update</button> &nbsp;
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                    </div>
                    <div id="submitted"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/ProductUnitManage/Update.js")"></script>
}