﻿@using KCRM.Model.Models
@model KCRM.Model.Models.Reports.ClientQutationReportModel

@{
    ViewBag.Title = "Client Quotation Report";
}

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 685px;
    }

    thead {
        font-size: 10px;
        font-weight: bold;
    }

    tbody {
        font-size: 10px;
        font-weight: normal;
    }

    td {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    th {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    h2, h4, h6 {
        margin: 0px;
        padding: 0px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        font-family: "Times New Roman", Arial, serif;
    }
</style>

<div id="header">
    <h2>Stock Admin Co. Name</h2>
    <h4>Client Quotation Report</h4>
    <h6>Date of creation : <span>@Model.ReportDate.ToString("MMMM dd, yyyy")</span></h6>
</div>

<div>
    <br/>
    <table>
        <thead>
            <tr>
                <td>SN</td>
                <td>Date Of Creation</td>
                @*<td>Customer</td>
                    <td>Contact Name</td>
                    <td>Price Inspector</td>*@
                <td>Detail</td>
                <td>Product Name</td>
                <td>Unit</td>
                <td>Quantity</td>
                <td>Total Price</td>
                <td>Vat</td>
                <td>Total with Vat</td>
                <td>Grand Total</td>
            </tr>
        </thead>
        <tbody>
            @{int count = 0; int rowspan = 1;}
            @foreach (ClientQuotationModel aQuotation in Model.ClientQuotations)
            {
                rowspan = 1;
                ++count;
                rowspan += aQuotation.ClientQuotationOrders.Count;
                <tr>
                    <td rowspan="@(rowspan)">@count</td>
                    <td rowspan="@(rowspan)">@aQuotation.DateOfCreation.ToString("dd/MM/yyyy")</td>
                    @*<td rowspan="@(rowspan)">@aQuotation.Customer.Name</td>
                        <td rowspan="@(rowspan)">@aQuotation.CustomerContactPerson.Name</td>
                        <td rowspan="@(rowspan)">@aQuotation.MarketQuotation.PriceInspectorUser.LoginName</td>*@
                    <td rowspan="@(rowspan)" style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>
                        <span>
                            <span>Customer       : @aQuotation.Customer.Name</span> <br />
                            <span>Contact Person : @aQuotation.CustomerContactPerson.Name</span> <br />
                            <span>Price Inspector: @aQuotation.MarketQuotation.PriceInspectorUser.FullNameWithLoginName</span> <br />
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="@(rowspan)">@aQuotation.ClientQuotationOrders.Sum(x => x.Total)</td>
                </tr>
                foreach (ClientQuotationOrderModel aProduct in aQuotation.ClientQuotationOrders)
                {
                    <tr>
                        <td>@aProduct.Product.Name</td>
                        <td>@aProduct.Product.UnitName</td>
                        <td>@aProduct.Quantity</td>
                        <td>@aProduct.Price</td>
                        <td>@aProduct.Vat</td>
                        <td>@aProduct.Total</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
