﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Client Quotation Report";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Reports</a>
    <a class="tip-bottom" href="#">Client Quotation</a>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Client Quotation Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">From Date</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: fromDate">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">To Date</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: toDate">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Customer Name
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: customers,
                                                                        optionsText: 'name',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- All ---',
                                                                        value: customerId"></select>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    CotactPerson Name
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: contactPersons,
                                                                        optionsText: 'name',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- All ---',
                                                                        value: contactPersonId"></select>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>                    
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Price Inspector
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: priceInspectors,
                                                                        optionsText: 'nameDetail',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- All ---',
                                                                        value: priceInspectorId"></select>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Market Quotation Code
                                </label>
                                <div class="controls">
                                    <select class="span12" data-bind="options: marketQutaions,
                                                                        optionsText: 'code',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- All ---',
                                                                        value: marketQutationId"></select>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid" style="margin: 10px">
                        <div class="span6">
                            <a class="btn btn-success" data-bind="click: getQuotations">
                                <i class="icon-search"></i>&nbsp;Search to show
                            </a>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-pencil"></i> </span>
                            <h5>Client Quotation Details</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th style="font-size: small">Date of Quotation</th>
                                        <th style="font-size: small">Customer</th>
                                        <th style="font-size: small">Contact Person</th>
                                        <th style="font-size: small">Price Inspector</th>
                                        <th style="font-size: small">Product Name</th>
                                        <th style="font-size: small">Unit</th>
                                        <th style="font-size: small">Quantity</th>
                                        <th style="font-size: small">Total Price</th>
                                        <th style="font-size: small">Vat</th>
                                        <th style="font-size: small">Total with Vat</th>
                                        <th style="font-size: small">Grand Total</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: quotations">
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: dateOfCreation, attr: { rowspan: rowspan }"></td>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: customer, attr: { rowspan: rowspan }"></td>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: contactPerson, attr: { rowspan: rowspan }"></td>
                                        <td style="text-align: center; vertical-align: middle" data-bind="text: priceInspector, attr: { rowspan: rowspan }"></td> 
                                        <td style="border: 0px; padding: 0px"></td> 
                                        <td style="border: 0px; padding: 0px"></td>
                                        <td style="border: 0px; padding: 0px"></td>
                                        <td style="border: 0px; padding: 0px"></td>
                                        <td style="border: 0px; padding: 0px"></td>
                                        <td style="border: 0px; padding: 0px"></td>
                                        <td style="text-align: center" data-bind="text: grandTotal(), attr: { rowspan: rowspan }"></td>
                                    </tr>
                                    <!-- ko foreach: orders() -->
                                    <tr>
                                        <td style="text-align: center" data-bind="text: productName"></td>
                                        <td style="text-align: center" data-bind="text: productUnitName"></td>
                                        <td style="text-align: center" data-bind="text: quantity"></td>
                                        <td style="text-align: center" data-bind="text: price"></td>
                                        <td style="text-align: center" data-bind="text: vat"></td>
                                        <td style="text-align: center" data-bind="text: total()"></td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="form-actions">
                        <a class="btn btn-primary" data-bind="click: setTempModel">
                            <i class="icon-copy"></i>&nbsp;Generate Report
                        </a>&nbsp;&nbsp;
                        <a class="btn btn-primary" data-bind="click: showSingleClientQuotation">
                            <i class="icon-copy"></i>&nbsp;Generate Quotation Report
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/Reports/ClientQuotationReport/Search.js")"></script>
}