﻿@using KCRM.Model.DbModels.Tables
@using KCRM.Model.Models
@model KCRM.Model.Models.Reports.ClientQutationReportModel

@{
    ViewBag.Title = "Client Quotation Report";
}

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 685px;
    }

    thead {
        font-size: 10px;
        font-weight: bold;
    }

    tbody {
        font-size: 10px;
        font-weight: normal;
    }

    td {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    th {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    h2, h4, h5,h6 {
        margin: 0px;
        padding: 0px;
    }

    p {
        font-size: 10px;
        margin: 0px;
        padding: 0px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        font-family: "Times New Roman", Arial, serif;
    }
</style>

<div id="header">
    <h2>Stock Admin </h2>
    <h4>Client Quotation Report</h4>
    <h6>Date of creation : <span>@Model.ReportDate.ToString("MMMM dd, yyyy")</span></h6>
</div>

<div>
    <br/>
    <p><b><span>@Model.ClientQuotation.Customer.Name</span></b></p>
    <p><span>@Model.ClientQuotation.Customer.Address</span></p>
</div>

<div>
    <br />
    <p>Quote Ref : @Model.ClientQuotation.CustomerContactPerson.Name</p>
    <p>Quote Date : @Model.ClientQuotation.DateOfCreation.ToString("MMMM dd, yyyy")</p>
    <br/>
    <p>Dear Sir, </p>
    <p>As per requisition, we are placing our best offer:</p>
    <p></p>
</div>

<div>
    <br />
    <table>
        <thead>
            <tr>
                <td>SN</td>
                <td>Product Name</td>
                <td>Description</td>
                <td>Unit</td>
                <td>Quantity</td>
                <td>Total Price</td>
                <td>Vat</td>
                <td>Total with Vat</td>
            </tr>
        </thead>
        <tbody>
            @{ int count = 0;}
            @foreach (ClientQuotationOrderModel aOrderModel in Model.ClientQuotation.ClientQuotationOrders)
            {
                ++count;
                <tr>
                    <td>@count</td>
                    <td>@aOrderModel.Product.Name</td>
                    <td>@aOrderModel.Product.Description</td>
                    <td>@aOrderModel.Product.UnitName</td>
                    <td>@aOrderModel.Quantity</td>
                    <td>@aOrderModel.Price</td>
                    <td>@aOrderModel.Vat</td>
                    <td>@aOrderModel.Total</td>
                </tr>
            }
            <tr>
                <td colspan="7" style="text-align: right">Grand Total</td>
                <td><b>@Model.ClientQuotation.ClientQuotationOrders.Sum(x => x.Total)</b></td>                
            </tr>
        </tbody>
    </table>
</div>

<div>
    <br/><br /><br /><br /><br /><br />
    <p>Thanking you,
    </p>
    <p>Yours faithfully,</p>
    <br/><br />
    <p>For <b>Stock Admin Co. Name</b></p>
    <br/>
    <p>Mufaddal Disawala</p>
</div>
