﻿@using KCRM.Model.Models;
@model KCRM.Model.Models.Reports.SalesReportModel

@{
    ViewBag.Title = "Sales Report";
}

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 685px;
    }

    thead {
        font-size: 10px;
        font-weight: bold;
    }

    tbody {
        font-size: 10px;
        font-weight: normal;
    }

    td {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    th {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    h2, h4, h6 {
        margin: 0px;
        padding: 0px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        font-family: "Times New Roman", Arial, serif;
    }
</style>

<div id="header">
    <h2>Stock Admin Co. Name</h2>
    <h4>Sales Report</h4>
    <h6>Date of creation : <span>@Model.ReportDate.ToString("MMMM dd, yyyy")</span></h6>
</div>

<div>
    <br/>
    <table style="border: 1px solid black; border-collapse: collapse; width: 685px">
        <thead style="font-size: 10px; font-weight: bold">
            <tr>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">SI</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Date of Sales</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Customer Name</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Product Name</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Unit</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Quantity</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Stock Quntity</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Price</th>
                <th style="border: 1px solid black; text-align: center; padding: 10px;">Total Price</th>
            </tr>
        </thead>
        <tbody style="font-size: 10px; font-weight: normal">
            @{int count = 0; int rowspan = 1;}
            @foreach (SaleModel aModel in Model.Sales)
            {
                ++count;
                rowspan = 1;
                rowspan += aModel.SoldProducts.Count;
                <tr>
                    <td rowspan="@(rowspan)" style="border: 1px solid black; text-align: center; padding: 10px;">@count</td>
                    <td rowspan="@(rowspan)" style="border: 1px solid black; text-align: center; padding: 10px;">@aModel.DateOfCreation.ToString("dd/MM/yyyy")</td>
                    <td rowspan="@(rowspan)" style="border: 1px solid black; text-align: center; padding: 10px;">@aModel.Customer.Name</td>
                    <td style="border: 1px solid black; text-align: center; padding: 10px;"></td>
                    <td style="border: 1px solid black; text-align: center; padding: 10px;"></td>
                    <td style="border: 1px solid black; text-align: center; padding: 10px;"></td>
                    <td style="border: 1px solid black; text-align: center; padding: 10px;"></td>
                    <td style="border: 1px solid black; text-align: center; padding: 10px;"></td>
                    <td rowspan="@(rowspan)" style="border: 1px solid black; text-align: center; padding: 10px;">@aModel.SoldProducts.Sum(x => x.Price)</td>
                </tr>

                foreach (SoldProductModel aSoldProduct in aModel.SoldProducts)
                {
                    long stocktConsumption = (aSoldProduct.HasStockConsumption) ? aSoldProduct.StockConsumptions.ToList()[0].Quantity : 0;
                    <tr>
                        <td style="border: 1px solid black; text-align: center; padding: 10px;">@aSoldProduct.Product.Name</td>
                        <td style="border: 1px solid black; text-align: center; padding: 10px;">@aSoldProduct.Product.UnitName</td>
                        <td style="border: 1px solid black; text-align: center; padding: 10px;">@aSoldProduct.Quantity</td>
                        <td style="border: 1px solid black; text-align: center; padding: 10px;">@stocktConsumption</td>
                        <td style="border: 1px solid black; text-align: center; padding: 10px;">@aSoldProduct.Price</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
