﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Create Market Quotation";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#">Quotations</a>
    <a class="current" href="#">Market Quotation</a>
}

@*pop up for customer create*@
<div id="divCustomerSetup" class="modal hide fade modal-wide75">
    <div class="modal-header">
        <a href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Customer</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'customer', data: customer }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for purchaser create*@
<div id="divPurchaserSetup" class="modal hide fade modal-wide75">
    <div class="modal-header">
        <a href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Price Inspector</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'purchaser', data: purchaser }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for product create*@
<div id="stack2" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose1" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productCreate', data: productCreate }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for product unit create*@
<div id="stack4" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose3" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product Unit</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productUnitCreate', data: productUnitCreate }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for supplier create*@
<div id="stack3" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose2" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Supplier</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'supplierCreate', data: supplierCreate }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for market quotation details*@
<div id="stack1" class="modal hide fade modal-wide90" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnCloseModal" href="#" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Market Quotation Inspection Detail</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="with: inspection">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltproduct" class="span12" data-bind="options: $root.products,
                                                                        optionsText: 'name',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- Please Select ---',
                                                                        value: productId"></select>
                                </div>
                            </div>
                        </div>
                        @*add + sign for add option*@
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddProduct" class="btn btn-success" data-toggle="modal" >
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Quantity
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: quantity">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Total Price
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Supplier
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="supplierList" name="supplierList" class="span12" data-bind="options: $root.suppliers,
                                                                        optionsText: 'name',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- Please Select ---',
                                                                        value: supplierId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddSupplier" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" id="divActionCreate">
                        <button class="btn btn-success" type="button" data-bind="click: $root.createInspection">Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                    </div>
                    <div class="form-actions" id="divActionUpdate">
                        <button class="btn btn-success" type="button" data-bind="click: $root.updateInspection">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click: $root.cancelInspectionUpdate">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Market Quotation Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Quotation Code
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input data-bind="value:quotationCode" class="span8" type="text" placeholder="quotation code" />&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary" type="button" data-bind="click: generateCode"> Generate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Customer
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="customerList" name="customerList" class="span12" data-bind="options: customers,
                                                            optionsText: 'name',
                                                            optionsValue: 'id',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: customerName"></select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddCustomer" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Price Inspector
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="inspectorList" name="inspectorList" class="span12" data-bind="options: users,
                                                            optionsText: 'loginName',
                                                            optionsValue: 'id',
                                                            optionsCaption: '--- Please Select ---',
                                                            value: userName"></select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddPurchaser" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">Date of Creation</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: dateOfCreation">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin: 10px">
                        <div class="span6">
                            <a id="btnAddInspection" class="btn btn-success" data-toggle="modal">
                                <i class="icon-plus">&nbsp;</i> Add Quotation Inspection
                            </a>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-pencil"></i> </span>
                            <h5>Market Quotation Inspections</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th style="font-size: small">Product Name</th>
                                        <th style="font-size: small">Unit</th>
                                        <th style="font-size: small">Quantity</th>
                                        <th style="font-size: small">Total Price</th>
                                        <th style="font-size: small">Supplier</th>
                                        <th style="font-size: small">Actions</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: inspections">
                                    <tr>
                                        <td style="text-align: center" data-bind="text: productName"></td>
                                        <td style="text-align: center" data-bind="text: productUnit"></td>
                                        <td style="text-align: center" data-bind="text: quantity"></td>
                                        <td style="text-align: center" data-bind="text: price"></td>
                                        <td style="text-align: center" data-bind="text: supplierName"></td>
                                        <td style="text-align: center">
                                            <a data-bind="click: $root.showToUpdate" href="#">
                                                Update
                                            </a>
                                            |
                                            <a data-bind="click: $root.removeInspection" href="#">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-bottom: 15px;">
                        <h4>
                            <span>Grand Total Price: </span>
                            <span data-bind="text: $root.totalPrice"> </span>
                        </h4>
                    </div>
                    <br /><br />
                    <br /><br />
                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: $root.create"> Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: $root.reset"> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/MarketQuotationManage/Create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.customer.create.js")"></script>

    @*purchaser == price inspector*@
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.purchaser.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.product.create.js")"></script>   
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.productUnit.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.supplier.create.js")"></script>
}
