﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <title> KCRM | @ViewBag.Title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap-responsive.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Assets/font-awesome/css/font-awesome.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Assets/css/fontsGoogleapisCom.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")" /> 
        <link rel="stylesheet" href="@Url.Content("~/Content/Kcrm.css")" />
        @RenderSection("styles", required: false)
    </head>
<body>
    @RenderBody()
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.validation.js")"></script>
    <script src="@Url.Content("~/Scripts/infuser.js")"></script>
    <script src="@Url.Content("~/Scripts/TrafficCop.js")"></script>
    <script src="@Url.Content("~/Scripts/koExternalTemplateEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Kcrm.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
