﻿@using KCRM.Model.Models
@{
    if (HttpContext.Current.Session["UserDetail"] == null)
    {
        return;
    }
    UserSessionModel user = (UserSessionModel) HttpContext.Current.Session["UserDetail"];
    MenuSessionModel menu = (MenuSessionModel)HttpContext.Current.Session["PermissionDetail"];
}

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from themedesigner.in/demo/matrix-admin/ by HTTrack Website Copier/3.x [XR&CO'2013], Fri, 06 Sep 2013 22:35:05 GMT -->
<head>
    <title>KCRM | @ViewBag.Title</title>
    <meta charset="UTF-8" />
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/bootstrap-responsive.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/uniform.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/matrix-style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/matrix-media.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/font-awesome/css/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/fontsGoogleapisCom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Kcrm.css")" />
    @RenderSection("styles", required: false)
</head>
<body>
    <!--Header-part-->
    <div id="header">
        <h1><a href="@Url.Action("Index", "Dashboard")">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
                    <i class="icon icon-user"></i>
                    <span class="text">Welcome @user.LoginName </span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "ProfileManage")"><i class="icon-user-md"></i> Change Password</a></li>
                </ul>
            </li>
            <li class=""><a title="" href="@Url.Action("LogOut", "LoginManage")"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
           </ul> 
     </div>
    <!--close-top-Header-menu--> 
    <div id="divAjaxloadinDashboard" >
        <img id="divSpinner" style="display: none; height: 38px;" src="@Url.Content("~/Content/images/ajax-loader-dashboard.gif")" />
    </div>
    <!--start-top-serch-->
    <div id="search">
        <input type="text" placeholder="Search here..." />
        <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <!--close-top-serch-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="submenu">
                <a href="@Url.Action("Index", "Dashboard")"><i class="icon icon-home"></i><span>Dashboard</span></a> 
            </li>
            
             @if (menu.SetUpMenu)
             {
                 <li class="submenu">
                     <a href="#"><i class="icon icon-wrench"></i> <span>Setups</span></a>
                     <ul>
                         @if (menu.UserSetup)
                         {
                             <li><a href="@Url.Action("Index", "UserManage")"><i class="icon icon-user-md"></i> User</a></li>
                         }
                         @if (menu.UserPermissionSetup)
                         {
                             <li><a href="@Url.Action("Index", "UserPermissionManage")"><i class="icon icon-warning-sign"></i>  Permission</a></li>
                         }
                         @if (menu.CustomerSetup)
                         {
                             <li><a href="@Url.Action("Index", "CustomerManage")"><i class="icon icon-user"></i>    Customer</a></li>
                         }
                         @if (menu.ProductUnitSetup)
                         {
                             <li><a href="@Url.Action("Index", "ProductUnitManage")"><i class="icon icon-asterisk"></i> Product Unit</a></li>
                         }
                         @if (menu.ProductSetup)
                         {
                             <li><a href="@Url.Action("Index", "ProductManage")"><i class="icon icon-hdd"></i>  Product</a></li>
                         }
                         @if (menu.SupplierSetup)
                         {
                             <li><a href="@Url.Action("Index", "SupplierManage")"><i class="icon icon-group"></i>   Supplier</a></li>
                         }
                     </ul>
                 </li>
             }
                

            @if (menu.QutationMenu)
            {
                <li class="submenu">
                    <a href=""><i class="icon icon-align-justify"></i> <span>Quotations</span></a>
                    <ul>
                        @if (menu.MarketQutation)
                        {
                            <li><a href="@Url.Action("Create", "MarketQuotationManage")"><i class="icon icon-list"></i> Market</a></li>
                        }
                        @if (menu.ClientQutation)
                        {
                            <li><a href="@Url.Action("Index", "ClientQuotationManage")"><i class="icon icon-sitemap"></i> Client</a></li>
                        }

                    </ul>
                </li>
            }
            
            @if (menu.PurchaseMenu)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-truck"></i> <span>Purchases</span></a>
                    <ul>
                        @if (menu.Purchase)
                        {
                            <li><a href="@Url.Action("Index", "PurchaseManage")"><i class="icon icon-book"></i>    Purchase</a></li>
                        }
                    </ul>
                </li>
            }
            
            @if (menu.StockMenu)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-signal"></i> <span>Stock</span></a>
                    <ul>
                        @if (menu.Stock)
                        {
                            <li><a href="@Url.Action("Index", "StockManage")"><i class="icon icon-sign-blank"></i> Stock</a></li>
                        }
                    </ul>
                </li>
            }
            
            @if (menu.SalesMenu)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-briefcase"></i> <span>Sales</span></a>
                    <ul>
                        @if (menu.Sale)
                        {
                            <li><a href="@Url.Action("Index", "SaleManage")"><i class="icon icon-adjust"></i>    Sale</a></li>
                        }
                    </ul>
                </li>
            }
            
            @if (menu.PriceListMenu)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-credit-card"></i> <span>Price Lists</span></a>
                    <ul>
                        @if (menu.MarketPrice)
                        {
                            <li><a href="@Url.Action("Index", "MarketPriceManage")"><i class="icon icon-money"></i> Market Price</a></li>
                        }
                        @if (menu.StockPrice)
                        {
                            <li><a href="@Url.Action("Index", "StockPriceManage")"><i class="icon icon-bar-chart"></i> Stock Price</a></li>
                        }
                    </ul>

                </li>
            }
            
            @if (menu.ReportMenu)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-edit"></i> <span> Reports </span></a>
                    <ul>
                        @if (menu.MarketQuotationReport)
                        {
                            <li><a href="@Url.Action("Index", "MarketQuotationReport")"><i class="icon icon-list"></i> Market Quotation</a></li>
                        }
                    </ul>
                    <ul>
                        @if (menu.ClientQuotationReport)
                        {
                            <li><a href="@Url.Action("Index", "ClientQuotationReport")"><i class="icon icon-sitemap"></i> Client Quotation</a></li>
                        }
                    </ul>
                    <ul>
                        @if (menu.PurchaseReport)
                        {
                            <li><a href="@Url.Action("Index", "PurchaseReport")"><i class="icon icon-book"></i> Purchase</a></li>
                        }
                    </ul>
                    <ul>
                        @if (menu.StockEntryReport)
                        {
                            <li><a href="@Url.Action("Index", "StockEntryReport")"><i class="icon icon-sign-blank"></i> Stock Entry</a></li>
                        }                        
                    </ul>
                    <ul>
                        @if (menu.CurrentStockReport)
                        {
                            <li><a href="@Url.Action("Index", "StockReport")"><i class="icon icon-signal"></i> Current Stock</a></li>
                        }                        
                    </ul>
                    <ul>
                        @if (menu.SalesReport)
                        {
                            <li><a href="@Url.Action("Index", "SalesReport")"><i class="icon icon-adjust"></i> Sales</a></li>
                        }                       
                    </ul>
                    <ul>
                        @if (menu.MarketPriceReport)
                        {
                            <li><a href="@Url.Action("Index", "MarketPriceReport")"><i class="icon icon-money"></i> Market Price</a></li>
                        }
                    </ul>
                    <ul>
                        @if (menu.StockPriceReport)
                        {
                            <li><a href="@Url.Action("Index", "StockPriceReport")"><i class="icon icon-bar-chart"></i> Stock Price</a></li>
                        }
                    </ul>
                </li>
            }            
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb">
                <a href="@Url.Action("Index", "Dashboard")" title="Go to Dashboard" class="tip-bottom"><i class="icon-home"></i> Dashboard</a>
                @RenderSection("breadcrumbs", required: false)
            </div>    
            <h1>
                @RenderSection("goBackLink", required: false)
                @ViewBag.PageHeader
            </h1>                 
            </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        <div id="divPageContainer" class="container-fluid">
            @RenderBody()  
        </div>
    </div>
    <!--end-main-container-part-->
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2014 &copy; Kaizar Admin. Brought to you by <a href="http://www.pearl-ltd.com" style="color: skyblue">Pearl Technology Ltd.</a> </div>
    </div>
    <!--end-Footer-part-->
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.validation.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
    <script src="@Url.Content("~/Scripts/infuser.js")"></script>
    <script src="@Url.Content("~/Scripts/TrafficCop.js")"></script>
    <script src="@Url.Content("~/Scripts/koExternalTemplateEngine.js")"></script>
    <script src="@Url.Content("~/Assets/js/excanvas.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.uniform.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script> 
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Kcrm.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
