﻿/*validation error message style*/
.validationMessage {
    color: #b94a48;
}

/*Bootstrap modal*/
/*body .modal {
    width: 90%;
    left: 5%;
    margin-left:auto;
    margin-right:auto; 
}*/


.modal-wide90 {
    width: 90%;
    left: 5%;
    margin-left:auto;
    margin-right:auto; 
}

.modal-wide75 {
    width: 75%;
    left: 12%;
    margin-left:auto;
    margin-right:auto; 
}

.modal.fade.in {
    top: 15%;
}

.nomargin {
    margin: 0
}

.noborder {
    border: 0
}

/*Ajax load div for _Layout Page*/
#divAjaxloadinDashboard {
    position: absolute;
	z-index: 25;
	top: 0px;
    left:50%;
    
  } 
/*back button css*/
/***
Metro icons
***/
[class^="m-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;;
  margin-top: 4px;
  line-height: 14px;  
  vertical-align: top;
  background-image: url(../Content/images/syncfusion-icons.png);
  background-position: 0 0;
  background-repeat: no-repeat; 
}

[class^="m-icon-big-"] {
  display: inline-block;
  width: 30px;
  height: 30px; 
  margin: 6px;
  vertical-align: top;
  background-image: url(../Content/images/syncfusion-icons.png);
  background-position: 0 0px;
  background-repeat: no-repeat; 
}

.m-icon-white {
  background-image: url(../Content/images/syncfusion-icons-white.png);
}

/*  Misc */
.btn.icn-only {
  min-width: 14px;
}
.btn.bigicn-only {
  min-width: 34px;
}
.m-icon-swapright {
  background-position: -27px -10px;
}
.m-icon-swapdown {
  background-position: -68px -10px;
}
.m-icon-swapleft {
  background-position: -8px -10px;
}
.m-icon-swapup {
  background-position: -46px -10px;
}
.m-icon-big-swapright{
  background-position: -42px -28px;
}
.m-icon-big-swapdown{
  background-position: -115px -28px;
}
.m-icon-big-swapleft{
  background-position: -6px -28px;
}
.m-icon-big-swapup{
  background-position: -78px -28px;
}
.content-header .wrap-title {
    float: left;
    margin-bottom: 5px;
}

