﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Customer List";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="current" href="#">Customer Setup</a>
    <a class="current" href="#">Customer List</a>
}


<div class="row-fluid">
    <div class="row-fluid" style="margin: 10px">
        <div class="span6">
            <a class="btn btn-success" href="@Url.Action("Create", "CustomerManage")">
                <i class="icon-plus"></i> Create
            </a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>All Customers</h5>
        </div>

        

        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="font-size: small">Name</th>
                        <th style="font-size: small">Email</th>
                        <th style="font-size: small">Contact Number</th>
                        <th style="font-size: small">Date of Creation</th>
                        <th style="font-size: small">Address</th>
                        <th style="font-size: small">Action</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: customers">
                    <tr>
                        <td style="text-align: center" data-bind="text: name"></td>
                        <td style="text-align: center" data-bind="text: email"></td>
                        <td style="text-align: center" data-bind="text: contactNumber"></td>
                        <td style="text-align: center" data-bind="text: dateOfCreation"></td>
                        <td style="text-align: center" data-bind="text: address"></td>
                        <td style="text-align: center">
                            <a data-bind="attr: { href: updateUrl }">
                                Update
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/CustomerManage/All.js")"></script>
}