﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Create Customer";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="current" href="#">Customer Setup</a>
    <a class="current" href="#">Create Customer</a>
}
@section goBackLink
{
    <p>
        <a class="btn btn-info" href="@Url.Action("All", "CustomerManage")">
            <i class="m-icon-big-swapleft m-icon-white"></i>
        </a>
    </p>
}

<div class="modal hide fade modal-wide75" id="divContactPerson">
    <div class="modal-header">
        <a id="btnCloseModal" href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Contact Person Detail</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="with: contactPerson">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">
                                    Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input data-bind="value:contactPersonName" class="span12" type="text" placeholder="contact person name" />
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">
                                    Contact Number
                                </label>
                                <div class="controls">
                                    <input data-bind="value:contactPersonNumber" class="span12" type="text" placeholder="contact number (+88)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" id="divActionCreate">
                        <button class="btn btn-success" type="button" data-bind="click: $root.createContactPerson">Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                    </div>
                    <div class="form-actions" id="divActionUpdate">
                        <button class="btn btn-success" type="button" data-bind="click: $root.updateContactPerson">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click: $root.cancelContactPersonUpdate">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Customer Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">
                                    Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input data-bind="value:name" class="span4" type="text" name="name" placeholder="name" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">
                                    Email
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input data-bind="value:email" class="span4" type="text" placeholder="email" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">Contact Number</label>
                                <div class="controls">
                                    <input data-bind="value:contactNumber" class="span4" type="text" name="contactNumber" placeholder="+88 contact number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">Address</label>
                                <div class="controls">
                                    <textarea data-bind="value:address" class="span4" placeholder="address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">
                                    Date Of Creation
                                </label>
                                <div class="controls">
                                    <input data-bind="datepicker:dateOfCreation" class="datepicker span4" readonly="readonly" type="date" data-date-format="dd-mm-yyyy" placeholder="select date">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin: 10px">
                        <div class="span12">
                            <a id="btnAddContactPerson" class="btn btn-success" data-toggle="modal">
                                <i class="icon-plus">&nbsp;</i> Add Contact Person
                            </a>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-pencil"></i> </span>
                            <h5>Contact Persons</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th style="font-size: small">Contact Person</th>
                                        <th style="font-size: small">Contact Number</th>
                                        <th style="font-size: small">Actions</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: contactPersons">
                                    <tr>
                                        <td style="text-align: center" data-bind="text: contactPersonName"></td>
                                        <td style="text-align: center" data-bind="text: contactPersonNumber"></td>
                                        <td style="text-align: center">
                                            <a data-bind="click: $root.showToUpdate" href="#">
                                                Update
                                            </a>
                                            |
                                            <a data-bind="click: $root.removeContactPerson" href="#">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: save"> Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: clear"> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/CustomerManage/Create.js")"></script>
}