﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Update Customer";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="current" href="#">Customer Setup</a>
    <a class="current" href="#">Update Customer</a>
} 
@section goBackLink
{
    <p>
        <a class="btn btn-info" href="@Url.Action("All", "CustomerManage")">
            <i class="m-icon-big-swapleft m-icon-white"></i>
        </a>
    </p>
}

<div class="modal hide fade modal-wide75" id="divContactPerson">
    <div class="modal-header">
        <a id="btnCloseModal" href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Contact Person Detail</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="with: contactPerson">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">
                                    Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input data-bind="value:contactPersonName" class="span12" type="text" placeholder="contact person name" />
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">
                                    Contact Number
                                </label>
                                <div class="controls">
                                    <input data-bind="value:contactPersonNumber" class="span12" type="text" placeholder="contact number (+88)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" id="divActionCreate">
                        <button class="btn btn-success" type="button" data-bind="click: $root.createContactPerson">Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                    </div>
                    <div class="form-actions" id="divActionUpdate">
                        <button class="btn btn-success" type="button" data-bind="click: $root.updateContactPerson">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click: $root.cancelContactPersonUpdate">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">   
    <input type="hidden" value="@(Model)" id="txtCustomerId" />
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Personal Info</h5>
            </div>
            <div class="widget-content">
                <form id="form-wizard" class="form-horizontal" method="post">
                    <div id="form-wizard-1" class="step">
                        <div class="control-group">
                            <label class="control-label">
                                Name
                                <span style="font-weight: bold; color: red">*</span>
                            </label>
                            <div class="controls">
                                <input data-bind="value:name" class="span4" id="name" type="text" placeholder="type your name"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">
                                Email
                                <span style="font-weight: bold; color: red">*</span>
                            </label>
                            <div class="controls">
                                <input data-bind="value:email" class="span4" id="email" type="text" placeholder="put your email address">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Contact Number</label>
                            <div class="controls">
                                <input data-bind="value:contactNumber" class="span4" id="contactNumber" type="text" name="contactNumber" />
                            </div>
                        </div>
                    </div>
                    <div id="form-wizard-2" class="step">
                        <div class="control-group">
                            <label class="control-label">Address</label>
                            <div class="controls">
                                <textarea data-bind="value:address" class="span4"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Date Of Creation
                            </label>
                            <div class="controls">
                                <input data-bind="datepicker:dateOfCreation" class="datepicker span4" type="text" data-date-format="dd-mm-yyyy" placeholder="select date" disabled="">
                                <span class="help-block">(dd-mm-yyyy)</span>
                            </div>
                        </div>
                        <div class="row-fluid" style="margin: 10px">
                            <div class="span12">
                                <a id="btnAddContactPerson" class="btn btn-success" data-toggle="modal">
                                    <i class="icon-plus">&nbsp;</i> Add Contact Person
                                </a>
                            </div>
                        </div>
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"> <i class="icon-pencil"></i> </span>
                                <h5>Contact Persons</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <table class="table table-bordered data-table">
                                    <thead>
                                        <tr>
                                            <th>Contact Person</th>
                                            <th>Contact Number</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: contactPersons">
                                        <tr>
                                            <td style="text-align: center" data-bind="text: contactPersonName"></td>
                                            <td style="text-align: center" data-bind="text: contactPersonNumber"></td>
                                            <td style="text-align: center">
                                                <a data-bind="click: $root.showToUpdate" href="#">
                                                    Update
                                                </a>
                                                |
                                                <a data-bind="click: $root.removeContactPerson" href="#">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: update">Update</button> &nbsp;
                        <button class="btn btn-danger" type="button" data-bind="click: reset">Cancel</button>
                    </div>
                    <div id="submitted"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/CustomerManage/Update.js")"></script>
}