﻿@model KCRM.Model.Models.Reports.MarketQuotationReportModel
@using KCRM.Model.Models
@{
    ViewBag.Header = ViewBag.Title = "Market Quotation Report";
}

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 685px;
    }

    thead {
        font-size: 10px;
        font-weight: bold;
    }

    tbody {
        font-size: 10px;
        font-weight: normal;
    }

    td {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    th {
        border: 1px solid black;
        border-style: solid;
        border-color: black;
        text-align: center;
        padding: 10px;
    }

    h2,h4,h6 {
        margin: 0px;
        padding: 0px;
    }

    #header {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        font-family: "Times New Roman", Arial, serif;
    }
</style>

<div id="header">   
    <h2>Stock Admin Co. Name</h2> 
    <h4>Market Quotation Report</h4> 
    <h6>Date of creation : <span>@Model.ReportDate.ToString("MMMM dd, yyyy")</span></h6>
</div>

<div>
    <br/>
    <table>
        <thead>
            <tr>
                <th>Sl</th>
                <th>Date of Quotation</th>
                <th>Quotation Code</th>
                <th>Customer</th>
                <th>Inspector</th>
                <th>Supplier</th>
                <th>Product Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Grand Total</th>
            </tr>
        </thead>
        <tbody>
            @{ int count = 0; int rowspan = 1;}
            @foreach (MarketQuotationModel aValue in Model.Quotations)
            {
                rowspan = 1;
                count++;
                rowspan += aValue.Inspections.Count();
                <tr>
                    <td rowspan="@(rowspan)">@count</td>
                    <td rowspan="@(rowspan)">@aValue.DateOfCreation.ToString("dd/MM/yyyy")</td>
                    <td rowspan="@(rowspan)">@aValue.QuotationCode</td>
                    <td rowspan="@(rowspan)">@aValue.Customer</td>
                    <td rowspan="@(rowspan)">@aValue.PriceInspector</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="@(rowspan)">@aValue.Inspections.Sum(x => x.ProductPrice)</td>
                </tr>
                foreach (MarketQuotationInspectionModel aInspection in aValue.Inspections)
                {
                    <tr>
                        <td>@aInspection.SupplierName</td>
                        <td>@aInspection.ProductName</td>
                        <td>@aInspection.ProductUnit</td>
                        <td>@aInspection.ProductQuantity</td>
                        <td>@aInspection.ProductPrice</td>
                    </tr>
                }
            }
        </tbody>
    </table> 
</div>

