﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Stock";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Stock</a>
    <a class="current" href="#">Add Product Stock</a>
}
@*pop up for product unit create*@
<div id="stack4" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose3" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product Unit</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productUnitCreate', data: productUnitCreate }"></form>
            </div>
        </div>
    </div>
</div>
@*pop up for product create*@
<div id="stack2" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose1" href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productCreate', data: productCreate }"></form>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid" id="stack1" style="display: none" tabindex="-1" data-focus-on="input:first">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Create Stock</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltproduct" class="span12" data-bind="options: products,
                                                                        optionsText: 'name',
                                                                        optionsValue: 'id',
                                                                        optionsCaption: '--- Please Select ---',
                                                                        value: productId"></select>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        @*add + sign for add option*@
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddProduct" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">Date of Creation</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: dateOfCreation">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Quantity
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: quantity">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: create">Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click : createDone">Done</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-success" id="btnAddStock" href="#">
                    <i class="icon-plus"></i> Add Stock
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Current Stock</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="font-size: small">Product Name</th>
                            <th style="font-size: small">Product Unit</th>
                            <th style="font-size: small">Available Quntity</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: productStocks">
                        <tr>
                            <td style="text-align: center" data-bind="text: $data.name"></td>
                            <td style="text-align: center" data-bind="text: $data.unit"></td>
                            <td style="text-align: center" data-bind="text: $data.quantity"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/StockManage/Create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.product.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.productUnit.create.js")"></script>
}