﻿<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <label class="control-label">
                Name
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <input data-bind="value:contactPersonName" class="span12" type="text" placeholder="contact person name" />
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label">
                Contact Number
            </label>
            <div class="controls">
                <input data-bind="value:contactPersonNumber" class="span12" type="text" placeholder="contact number (+88)" />
            </div>
        </div>
    </div>
</div>
<div class="form-actions" id="divActionCreate">
    <button class="btn btn-success" type="button" data-bind="click: create">Create</button>
    <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
</div>