
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label">
                Name
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <input data-bind="value:name" class="span4" type="text" name="name" placeholder="name" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label">
                Email
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <input data-bind="value:email" class="span4" type="text" placeholder="email" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label">Contact Number</label>
            <div class="controls">
                <input data-bind="value:contactNumber" class="span4" type="text" name="contactNumber" placeholder="+88 contact number" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label">Address</label>
            <div class="controls">
                <textarea data-bind="value:address" class="span4" placeholder="address"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label">
                Date Of Creation
            </label>
            <div class="controls">
                <input data-bind="datepicker:dateOfCreation" class="datepicker span4" readonly="readonly" type="date" data-date-format="dd-mm-yyyy" placeholder="select date">
                <span class="help-block">(dd-mm-yyyy)</span>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <button class="btn btn-success" type="button" data-bind="click: save"> Create</button>
    <button class="btn btn-primary" type="button" data-bind="click: clear"> Reset</button>
</div>
