﻿<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">
                Product Name
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <input data-bind="value:name" class="span12" type="text" name="name" placeholder="type product name" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">
                Product Category
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <select id="sltProductCategory" class="span12" data-bind="value: productCategory"></select>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">
                Product Unit
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <select id="sltUnit" class="span12" data-bind="value: unit">  </select>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <div class="controls" style="margin-left: 0">
                <a id="btnAddProductUnit" class="btn btn-success" data-toggle="modal">
                    <i class="icon-plus">&nbsp;</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea class="span12" draggable="false" data-bind="value:description" placeholder="give some description"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">
                Date of creation
            </label>
            <div class="controls">
                <input data-bind="datepicker: dateOfCreation" class="datepicker span12" type="text" readonly="readonly" data-date-format="dd-mm-yyyy">
                <span class="help-block">(dd-mm-yyyy)</span>
            </div>
        </div>
    </div>
</div>

<div class="form-actions">
    <button class="btn btn-success" type="button" data-bind="click:create">Create</button>
    <button class="btn btn-primary" type="button" data-bind="click:reset">Reset</button>
</div>
