﻿<div class="row-fluid">
    <div class="span12 ">
        <div class="control-group">
            <label class="control-label">
                Name
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <input data-bind="value:name" class="span5" type="text" name="name" placeholder="type unit name" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 ">
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <div class="left">
                    <textarea data-bind="value:description" class="span5" placeholder="give some description"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-actions">
    <button class="btn btn-success" type="button" data-bind="click:save">Create</button> &nbsp;
    <button class="btn btn-primary" type="button" data-bind="click:clear">Reset</button>
</div>
