﻿<!--Supplier create template-->

<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">
                Name
                <span style="font-weight: bold; color: red">*</span>
            </label>
            <div class="controls">
                <input type="text" class="span12" placeholder="supplier name" data-bind="value: name">
            </div>
        </div>
    </div>
</div>
<!--/span-->
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">Email </label>
            <div class="controls">
                <input type="text" class="span12" placeholder="email@gmail.com" data-bind="value: email">
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">Date of Creation</label>
            <div class="controls">
                <input type="date" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: dateOfCreation">
                <span class="help-block">Date with Formate of (dd-mm-yyyy)</span>
            </div>
        </div>
    </div>
</div>
<!--/span-->
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">Contact Number</label>
            <div class="controls">
                <input type="text" class="span12" placeholder="+88 phone number" data-bind="value: contactNumber">
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<div class="row-fluid">
    <div class="span6 ">
        <div class="control-group">
            <label class="control-label">Address</label>
            <div class="controls">
                <textarea class="span12" draggable="false" placeholder="address" data-bind="value: address"></textarea>
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<div class="form-actions">
    <button class="btn btn-success" type="button" data-bind="click: create">Create</button>
    <button class="btn btn-primary" type="button" data-bind="click : reset">Reset</button>
</div>
