﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Updated Stock Price";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Price lists</a>
    <a class="current" href="#">Stock Price List</a>
}

<div class="row-fluid" id="divAddStockPrice" style="display: none">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Stock Price Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>

                                <div class="controls">
                                    <select id="TestList" class="span12" data-bind="options: products,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- Please Select ---',
                                                                    value: productId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Price
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>

                                <div class="controls">
                                    <input type="text" class="span12" placeholder="Price" data-bind="value: price">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: update">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                        <button class="btn btn-primary" type="button" data-bind="click: updateDone">Done</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Current Stock Price</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="font-size: small">Product Name</th>
                            <th style="font-size: small">Product Price</th>
                            <th style="font-size: small">Action</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: productPrices">
                        <tr>
                            <td style="text-align: center" data-bind="text: $data.name"></td>
                            <td style="text-align: center" data-bind="text: $data.price"></td>
                            <td style="text-align: center">
                                <a data-bind="click: $root.showToUpdate" href="#">
                                    Update
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/StockPriceManage/Update.js")"></script>
}

