﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Create Sale";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Sales</a>
    <a class="current" href="#">Sale</a>
}  

@*pop up for Customer create*@
<div id="divCustomerSetup" class="modal hide fade modal-wide75">
    <div class="modal-header">
        <a href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Customer</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'customer', data: customer }"></form>
            </div>
        </div>
    </div>
</div>       

@*pop up for product create*@  
<div id="stack2" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnCloseModal" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productCreate', data: productCreate }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for product unit create*@
<div id="stack4" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose3" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product Unit</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productUnitCreate', data: productUnitCreate }"></form>
            </div>
        </div>
    </div>
</div>

@*pop up for sold product details*@
    <div class="modal hide fade modal-wide90" tabindex="-1" data-focus-on="input:first" id="stack1">
    <div class="modal-header">
        <a class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Sold Product Details</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="with: products">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltproduct" class="span12" data-bind="options: products,
                                                                optionsText: 'name',
                                                                optionsValue: 'id',
                                                                optionsCaption: '--- Please Select ---',
                                                                value: productId"></select>
                                </div>
                            </div>
                        </div>
                        @*add + sign for add option*@
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddProduct" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Quantity
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: quantity">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label for="chkHasStockConsumption" class="control-label">Sale from stock</label>
                                <div class="controls">
                                    <input id="chkHasStockConsumption" type="checkbox" data-bind="checked: hasStockConsumption" />
                                </div>
                            </div>
                            <div class="control-group" data-bind="visible: hasStockConsumption">
                                <label class="control-label">
                                    Stock Consumption Quantity
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: stockQuantity">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Price
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="span12" data-bind="value: price">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="form-actions" id="divActionCreate">
                        <button class="btn btn-success" type="button" data-bind="click: create">Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: reset">Reset</button>
                    </div>
                    <div class="form-actions" id="divActionUpdate">
                        <button class="btn btn-success" type="button" data-bind="click: update">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click: cancelUpdate">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
     
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Sales Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Customer Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="customerList" class="span12" data-bind="options: customers,
                                                                    optionsText: 'name',
                                                                    optionsValue: 'id',
                                                                    optionsCaption: '--- Please Select ---',
                                                                    value: customerId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddCustomer" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">Date of Creation</label>
                                <div class="controls">
                                    <input type="text" readonly="readonly" data-date-format="dd-mm-yyyy" class="datepicker span12" data-bind="datepicker: dateOfCreation">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row-fluid" style="margin: 10px">
                        <div class="span6">
                            <a id="btnAddSoldProduct" class="btn btn-success" data-toggle="modal">
                                <i class="icon-plus"></i> Add Product
                            </a>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-pencil"></i> </span>
                            <h5>Sold Products</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" data-bind="with: products">
                                <thead>
                                    <tr>
                                        <th style="font-size: small">Product Name</th>
                                        <th style="font-size: small">Product Unit</th>
                                        <th style="font-size: small">Quantity</th>
                                        <th style="font-size: small">Stock Consumption Quantity</th>
                                        <th style="font-size: small">Price</th>
                                        <th style="font-size: small">Actions</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: soldProducts">
                                    <tr>
                                        <td style="text-align: center" data-bind="text: productName"></td>
                                        <td style="text-align: center" data-bind="text: productUnit"></td>
                                        <td style="text-align: center" data-bind="text: quantity"></td>
                                        <td style="text-align: center" data-bind="text: stockQuantity"></td>
                                        <td style="text-align: center" data-bind="text: price"></td>
                                        <td style="text-align: center">
                                            <a data-bind="click: $parent.showToUpdate" href="#">
                                                Update
                                            </a>
                                            |
                                            <a data-bind="click: $parent.delete" href="#">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pull-right">
                        <h4>
                            <span>Total Price: </span>
                            <span data-bind="text: $root.products.totalPrice"> </span>
                        </h4>
                    </div>
                    <br /><br />
                    <br /><br />

                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click: $root.create"> Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click: $root.reset"> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/SaleManage/Create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.customer.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.product.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.productUnit.create.js")"></script>
}
