﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Product List";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="current" href="#">Product Setup</a>
    <a class="current" href="#">Product List</a>
}


<div class="row-fluid">
    <div class="row-fluid" style="margin: 10px">
        <div class="span6">
            <a class="btn btn-success" href="@Url.Action("Create", "ProductManage")">
                <i class="icon-plus"></i> Create
            </a>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>All Products</h5>
        </div>

        <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="font-size: small">Product Name</th>
                        <th style="font-size: small">Product Category</th>
                        <th style="font-size: small">Product Unit</th>
                        <th style="font-size: small">Date of Creation</th>
                        <th style="font-size: small">Description</th>
                        <th style="font-size: small">Action</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: products">
                    <tr>
                        <td style="text-align: center" data-bind="text: name"></td>
                        <td style="text-align: center" data-bind="text: category"></td>
                        <td style="text-align: center" data-bind="text: unitType"></td>
                        <td style="text-align: center" data-bind="text: dateOfCreation"></td>
                        <td style="text-align: center" data-bind="text: description"></td>
                        <td style="text-align: center">
                            <a data-bind="attr: { href: updateUrl }">
                                Update
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/ProductManage/All.js")"></script>
}