﻿@{
    ViewBag.PageHeader = ViewBag.Title = "Create Product";
} 

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="current" href="#">Product Setup</a>
    <a class="current" href="#">Create Product</a>
} 
@section goBackLink
{
    <p>
        <a class="btn btn-info" href="@Url.Action("All", "ProductManage")">
            <i class="m-icon-big-swapleft m-icon-white"></i>
        </a>
    </p>
}
@*pop up for product unit create*@
<div id="divProductUnitSetup" class="modal hide fade modal-wide75" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <a id="btnClose1" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="false">×</a>
        <div class="widget-title noborder">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Create Product Unit</h5>
        </div>
    </div>
    <div class="modal-body nopadding nomargin">
        <div class="widget-box nomargin">
            <div class="widget-content">
                <form action="#" class="form-horizontal" data-bind="template: { name: 'productUnitCreate', data: productUnitCreate }"></form>
            </div>
        </div>
    </div>
</div>

<div id="divProductSetup" class="row-fluid" tabindex="-1" data-focus-on="input:first">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Product Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input data-bind="value:name" class="span12" type="text" name="name" placeholder="type product name" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Category
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltProductCategory" class="span12" data-bind="value: productCategory"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Unit
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltUnit" class="span12" data-bind="value: unit">  </select>
                                </div>
                            </div>
                        </div>
                        @*add + sign for add option*@
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls" style="margin-left: 0">
                                    <a id="btnAddProductUnit" class="btn btn-success" data-toggle="modal">
                                        <i class="icon-plus">&nbsp;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">Description</label>
                                <div class="controls">
                                    <textarea class="span12" draggable="false" data-bind="value:description" placeholder="give some description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Date of creation
                                </label>
                                <div class="controls">
                                    <input data-bind="datepicker: dateOfCreation" class="datepicker span12" type="text" readonly="readonly" data-date-format="dd-mm-yyyy">
                                    <span class="help-block">(dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click:create">Create</button>
                        <button class="btn btn-primary" type="button" data-bind="click:reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
{    
    <script src="@Url.Content("~/Scripts/Views/Shared/Vms/Vm.productUnit.create.js")"></script>
    <script src="@Url.Content("~/Scripts/Views/ProductManage/Create.js")"></script>  
}