﻿@model long

@{
    ViewBag.PageHeader = ViewBag.Title = "Update Product";
}

@section breadcrumbs
{
    <a class="tip-bottom" href="#" data-original-title="">Setups</a>
    <a class="tip-bottom" href="#">Product Setup</a>
    <a class="current" href="#">Update Product</a>
} 
@section goBackLink
{
    <p>
        <a class="btn btn-info" href="@Url.Action("All", "ProductManage")">
            <i class="m-icon-big-swapleft m-icon-white"></i>
        </a>
    </p>
}


<div class="row-fluid">
    <input type="hidden" value="@(Model)" id="txtProductId" />
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-pencil"></i> </span>
                <h5>Product Info</h5>
            </div>
            <div class="widget-content">
                <form action="#" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Name
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input data-bind="value:name" class="span12" type="text" name="name" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Category
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <select id="sltProductCategory" class="span12" data-bind="value: category" />
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="control-group">                               
                                <div class="controls">
                                    <input type="text" class="span4"style="display: none"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Product Unit
                                    <span style="font-weight: bold; color: red">*</span>
                                </label>
                                <div class="controls">
                                    <input id="sltUnit" type="text" data-bind="value:unitType" class="span12" readonly=" "/>
                                </div>
                            </div>
                        </div>    
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">Description</label>
                                <div class="controls">
                                    <textarea class="span12" draggable="false" data-bind="value:description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label">
                                    Date of creation
                                </label>
                                <div class="controls">
                                    <input data-bind="datepicker:dateOfCreation" class="datepicker span12" type="text" data-date-format="dd-mm-yyyy" placeholder="select date">
                                    <span class="help-block">Date with Formate of (dd-mm-yyyy)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-success" type="button" data-bind="click:update">Update</button>
                        <button class="btn btn-primary" type="button" data-bind="click:reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script src="@Url.Content("~/Scripts/Views/ProductManage/Update.js")"></script>
}